---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","Name":"Tesla Motors Inc","Symbol":"TSLA","LastPrice":252.07,"Change":8.91999999999999,"ChangePercent":3.66851737610528,"Timestamp":"Mon
        Aug 17 09:51:32 UTC-04:00 2015","MSDate":42233.410787037,"MarketCap":32048683940,"Volume":81484,"ChangeYTD":222.41,"ChangePercentYTD":13.3357313070455,"High":256.27,"Low":251.71,"Open":255.69}'
  recorded_at: Mon, 17 Aug 2015 13:51:36 GMT
recorded_with: VCR 2.9.3
